{% include 'includes/header.html' %}
<main class="mainContent">
  {% if session['loggedIn'] %}
    <form class="form" action="/logout/" method="post">
      <section class="box box-warning">
        <p>
          Are you sure you want to logout?
        </p>
      </section>
      <input class="button button-success" type="submit" value="Logout">
    </form>
  {% else %}
  <section class="box box-danger">
    <p>
      You're not logged in!
    </p>
  </section>
  {% endif %}
</main>
{% include 'includes/footer.html' %}
