    <footer>
      <span class="footer-content">
        <p class="copyright">Copyright &copy; 2017 William Neild All Rights Reserved.</p><br>
        <a class="link link-footer" href="{{ config.request.rootURL }}">Home</a>
        {% if session["loggedIn"] %}
          - <a class="link link-footer" href="{{ config.request.rootURL }}settings/">Settings</a>
        {% endif %}
      </span>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
