<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ config.General.shortname }} | Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <nav>
      {% for href, page in [("/", "Home"),("/music/", "Music"),("/films/","Films"),("/tv/","TV Shows")]: %}
        {% if page == pageName %}
          <a class="navItem active" href="{{ href }}">{{ page }}</a>
        {% else %}
          <a  class="navItem" href="{{ href }}">{{ page }}</a>
        {% endif %}
      {% endfor %}
      <section class="search">
        <input class="searchbar" type="search" placeholder="Search...">
      </section>
    </nav>
